.movies .movie {
  background-color: white;
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0);
  color: #adaeb9;
  height: 350px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movies .movie .caption img{
  
  transition: all 0.6s ease-in-out;
  z-index: 10;
}
.movies .movie:hover .caption img{
  opacity: 1;
  transform: translateY(80px);
}

/* .movies .movie:hover .caption{
  opacity: 1;
  transform: translateY(80px);
} */


/* .movies .movie:hover .movie__data{
  display: none;
} */
/* .movies .movie .movie__data img{
  display: none;
} */
/* .movies .movie:hover .movie__data img{
  display: block;
} */
/* .movies .movie:hover .movie__data h3,
.movie:hover h5, .movie:hover p, .movie:hover .movie__genres{
  display: none;
} */
 .movies .movie:hover {
  background-color: rgba(16, 16, 16, 0.6);
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
} 


.movies .movie a{
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
}

.movies img{
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movies .movie .movie__data img{
  position: relative;
  top: -120px;
  max-width: 350px;
  width: 100%;
  margin-right: 30px;
  box-shadow: none;
  background-color: rgba(71, 40, 40, 0);
}
.movie .movie__title,
.movie .movie__year {
  margin: 0;
  font-weight: 400;
}

.movie .movie__title{
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
}

.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
  color: black;
}

.movie .movie__genres li,
.movie .movie__year {
  margin-right: 10px;
  font-size: 14px;
}